<!-- * * * * * * * Data from Service and string interpolation with pipes* * * * * * * * -->
<div>
<h2>{{ title1 }}</h2>
        <ul>
            <li *ngFor="let course of courses">
                   {{ course | uppercase }} 
            </li>
        </ul>

<hr>

<h3>Skills:</h3>

<table cellspacing="20">
    <tr>
        <td>
            .NET Core 3
        </td>
        <td>
            ⭐️⭐️⭐️⭐️⭐️
        </td>
    </tr>
    <tr>
        <td>
            C#
        </td>
        <td>
            ⭐️⭐️⭐️⭐️⭐️
        </td>
    </tr>
    <tr>
        <td>
            Angular 4
        </td>
        <td>
            ⭐️⭐️⭐️☆☆
        </td>
    </tr>
    <tr>
        <td>
            React JS
        </td>
        <td>
            ☆☆☆☆☆
        </td>
    </tr>
</table>

<!-- * * * * * * * Property Binding - One way: Component to DOM * * * * * * * -->

    <img [src] = "image"/>

<!-- * * * * * * * Attribute Binding  * * * * * * * * * * * * * * -->
<!-- * * * * * * * If propery of DOM is not matching attribute of HTML element  * * * * * * * * * * * * * * -->
<table>
    <tr>
        <td [attr.colSpan] = "colSpan"></td>
    </tr>
</table>

<!-- * * * * * * * Input Properties - Component API* * * * * * * * * * * * * * -->
<favorite [isFavorite]="post.isFavorite"></favorite>
<!-- * * * * * * * Class Binding and Style Binding  * * * * * * * * * * * * * * -->
    <button class="btn btn-primary" [class.active] = "isActive" [style.backgroundColor] = "isActive? 'red' : 'green'">Save</button>

<!-- * * * * * * * Event Binding and Event bubbling * * * * * * * * * * * * * * -->
<div (click) = "onDivClicked()">
    <button class="btn btn-primary" (click) = "onSave($event)">Submit</button>
</div>

<!-- * * * * * * * Event Filtering - Event when enter is pressed* * * * * * * * * * * * * * -->
<!-- * * * * * * * Template Variable - Passing Data to component* * * * * * * * * * * * * * -->
<!-- <input #email class="form-control" (keyup.enter)="onKeyUp(email.value)"/> -->

<!-- * * * * * * * Two way binding - ngModel Part of @angular/forms module* * * * * * * * * * * * * * -->
<input class="form-control" [(ngModel)]="email" (keyup.enter)="onKeyUp()"/>


</div>




